<?xml version="1.0"?>
<launch>
  <!-- 加载机器人模型参数 -->
  <param name="robot_description" command="$(find xacro)/xacro $(find robot_formation)/urdf/robot.urdf" />

  <!-- 启动RVIZ -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_formation)/rviz/robot.rviz" />

  <!-- 发布机器人状态 -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- 显示关节坐标轴 -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="true"/>
  </node>
</launch>
